* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-book-btn {
    display: block;
    margin: 0 auto;
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
    margin-top: 50px;
    transition: transform 300ms;
}

.add-book-btn:hover {
    transform: scaleX(1.02) scaleY(1.02);
    cursor: pointer;
}

dialog {
    border: none;
    border-radius: 8px;
    margin: auto auto;
    width: 400px;
}

.book-form {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

dialog header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-dialog-btn {
    padding: 2px;
    color: grey;
    background-color: white;
    font-size: 36px;
    border: none;
}

.close-dialog-btn:hover {
    cursor: pointer;
    color: black;
}

.book-form-main li{
    list-style: none;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.book-form-main li label{
    font-size: 18px;
    font-weight: 500;
}

.book-form-main .read-check-li-item {
    display: flex;
    flex-direction: row; /* override previous direction*/
    align-items: center;
    gap: 10px;
}

input {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 14px;
    height: 40px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    outline: none;
}

.book-form .confirm-dialog-btn {
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: rgb(54, 54, 54);
    color: white;
}

.book-form .confirm-dialog-btn:hover {
    cursor: pointer;
    background-color: black;
}

.book-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card {
    display: flex; 
    flex-direction: column;
    width: 200px;
    box-shadow: 1px 1px 10px rgb(202, 202, 202);
    border-radius: 7px;
    padding: 20px;
    margin: 30px;
    text-align: center;
    transition: transform 300ms;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100px;
    height: 120px;
    border-radius: 4px;
    transition: transform 100ms;
    content: url("acodyssey.jpg");
    margin: 0 auto;

}

.card h4 {
    font-size: 18px;
}

.card button {
    border: none;
    border-radius: 7px;
    background-color: rgb(140, 140, 255);
    width: 100px;
    margin: 0 auto;
    padding: 10px;
}

.card button:hover {
    background-color: rgb(108, 108, 255);
    cursor: pointer;
}

.card .read-check-div {
    display: flex;
    flex-direction: row; /* override previous column direction */
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card p,
h4 {
    margin-top: 5px;
}